@page
@model final_vjwill77.Pages_Participants.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Participant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.ShirtSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.ShirtSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.ParticipantCourses)
        </dt>
        <dd class="col-sm-10">
            @foreach(var course in Model.Participant.ParticipantCourses!)
            {
                @Html.DisplayFor(model => course.Course.Description)<br>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Participant.ParticipantID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
