@page
@model final_vjwill77.Pages_Participants.IndexModel

@{
    ViewData["Title"] = "Registered Participants";
}

<h1>Registered Participants</h1>

<p>
    <a asp-page="Create">Create New</a>
    <div class="row">
    <form class="d-flex" role="search" asp-page="./Index" method="get">
        <div class="col-3">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
                <input class="form-control me-2" type="search" name="CurrentSearch" value="@Model.CurrentSearch" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @{
                    //Alternate sort order
                    var firstSort = "first_asc";
                    if (Model.CurrentSort == "first_asc")
                    {
                    firstSort = "first_desc";
                    }
                }
                <a asp-page="./Index" asp-route-CurrentSort="@firstSort" asp-route-PageNum="@Model.PageNum">@Html.DisplayNameFor(model => model.Participant[0].FirstName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participant[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participant[0].ShirtSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participant[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participant[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participant[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participant[0].ParticipantCourses)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Participant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShirtSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @*  course represents a ParticipantCourse record
                Each course has a Course navigation property which is the actual Course
                The Course has a description. So you do course.Course.Description *@
                @foreach (var course in item.ParticipantCourses!)
                    {
                    @course.Course.Description <br />
                    }
                @if (item.ParticipantCourses.Count == 0)
                    {
                    @:Not Registered
                    }  
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ParticipantID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ParticipantID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ParticipantID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr />
@{
    // If we are on page 1, prevDisabled will be set to the "disabled" class
    // otherwise, it will be empty. So our previous button will be enabled or disabled based on this logic
    var prevDisabled = "";
    var nextDisabled = "";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }
    if (Model.PageNum >= Model.TotalPages)
    {
        nextDisabled = "disabled";
    }
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a></li>
        <li class="page-item @nextDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum + 1)">Next</a></li>
    </ul>
</nav>